* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #0f4154;
}

.container .card {
  height: 60vh;
  width: 426px;
  border-radius: 17px;
  background: rgb(255, 255, 255 / 6%);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: rgb(21, 21, 22) 0px 20px 30px -10px;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  position: relative;
  top: 20%;
  text-align: center;
  padding-bottom: 39px;
  font-size: 36px;
  color: #fff;
  font-family: sans-serif;
}

.input {
  margin: 10px 0px;
}

.input input {
  width: 92%;
  height: 42px;
  margin: 12px;
  outline: none;
  border: none;
  font-weight: bold;
  text-indent: 20px;
  border-radius: 18px;
  padding: 3px 2px;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.12);
  transition: 0.25s;
}

.input input:hover {
  transform: perspective(200px) scale(1.1);
  background: #3f7cff;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::placeholder {
  font-weight: bold;
  text-indent: 30px;
  padding: 3px 5px;
  color: #000;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: bold;
  padding: 14px 65px;
  color: #fff;
  margin: 10px 92px;
  font-size: 12px;
  border-radius: 31px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(#9ec14c, #41b14f);
  transition: transform 1s;
}

button:hover {
  transform: perspective(200px) rotateX(350deg);
}

p {
  font-weight: bold;
  padding: 3px 13px;
  color: #fff;
  text-align: center;
}
